<h2>Checkout</h2>

<% if user_signed_in? %>
  <p>Confirm Details</p>
  <%= form_for @order, url: checkout_path do |f| %>
    <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, :value => current_user.name %>
    </div>
    <p>Address: <%=current_user.address%></p>
    <p>Postal Code: <%=current_user.postal_code%></p>
    <p>City: <%=current_user.city%></p>
    <p>Province: <%=current_user.province%></p>
    <%= f.submit 'Checkout'%>
  <% end %>
<% else %>
  <%= form_for @order, url: checkout_path do |f| %>
  <div class="form-group">
   <%= f.label :first_name %>
   <%= f.text_field :first_name %>
  </div>

  <div class="form-group">
   <%= f.label :last_name %>
   <%= f.text_field :last_name %>
  </div>

  <%= f.submit 'Checkout'%>
  <% end %>
<% end %>

