<div class="column is-one-third">
  <div class="card products">
    <div class="card-content">
      <p class="title is-4">
        <%= link_to product.title, product %>
      </p>
      <div class="content">
          <p><strong>Description</strong><%=product.description%></p>
          <p><strong>Price</strong><%=product.price%></p>
          <p><strong>Stock Quantity</strong><%=product.stock_quantity%></p>
          <p><%=%></p>
      </div>

    </div>
  </div>
</div>