<div class="column is-one-fifth">
  <div class="card products">
    <div class="card-content">
      <p class="title is-4">
        <%= link_to product.title, product %>
      </p>
      <% if product.image.present? %>
        <div class="card-image">
          <figure class="image is-4by3">
            <%= image_tag product.image_url(:medium).to_s %>
          </figure>
        </div>
      <% else %>
      <div class="card-image">
          <figure class="image is-4by3">
            <%= image_tag "https://bulma.io/images/placeholders/1280x960.png" %>
          </figure>
        </div>

      <% end %>
      <div class="content">
          <p><strong>Description</strong><%=product.description%></p>
          <p><strong>Price</strong><%=product.price%></p>
          <p><strong>Stock Quantity</strong><%=product.stock_quantity%></p>
          <p><%=%></p>
          <%= form_tag order_items_path do %>
            <%= hidden_field_tag :product_id, product.id %>
            <%= number_field_tag :quantity, 1 %>
            <%= submit_tag "Add to Cart" %>
          <% end %>
      </div>

    </div>
  </div>
</div>